body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}*{
    margin: 0;
    padding: 0;
}

header, footer {
    position:absolute;
    background-color: #000;
    width: 100%;
    color: white;
}
header {
    height: 70px;
}
header h2 {
    position:absolute;
    margin-top: 20px;
    left: 150px;
    color: white;

}
footer {
    height: 100px;
    bottom: 0;
}
footer h2 {
    position:absolute;
    left: 45%;
    color: rgb(184, 147, 79);

}
.nav {
    position:absolute;
    width: 100%;
}
.nav a {
    position: relative;
    left: 35%;
    top: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
footer p{
    position:absolute;
    left: 48%;
    bottom: 20px;
    color:rgb(184, 147, 79);  
}
.image2{
    height: 200px;
    margin-top: 345px;
    border-radius: 150px;
}
.story h2{
    color: rgb(194, 45, 45);
    margin-left: 30%;
    margin-top: 500px;
    display: flex;
    justify-content: center;
}
.aj23

